.slides-principal img {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    display: block;
}

.slides-principal {
    position: relative;
}

.slide {
    display: none;
    position: relative;
    animation: fade 1.5s forwards;
}

.slide h1 {
    position: absolute;
    bottom: 0%;
    left: 1%;
    color: white;
    text-align: center;
    animation: frase 3s forwards;
}

.flecha-izq, .flecha-der {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease;
}

.flecha-izq:hover, .flecha-der:hover {
    transform: scale(1.1, 1.1);
}

.flecha-der {
    right: 0;
}

.puntos-container {
    position: relative;
    text-align: center;
}

.punto {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 0.2%;
    width: 2rem;
    height: 2rem;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.punto-activo, .punto:hover {
    background-color: #717171;
}

/* Animación */
.fade {
    animation-name: fade;
  }
  
  @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .frase {
      animation-name: frase;
  }

  @keyframes frase {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }